<% let msgArray = message.split(/(\s+)/)%>
<% if(msgArray[0] == 'search') { %> 
    <div class="alert alert-info" role="alert">A-Link <b><%= msgArray[2] %></b> does not exists. You are welcome to create one.</div>
        
<% } %>
<% if(msgArray[0] == 'yes_tag') { %> 
    <div class="alert alert-info" role="alert">A-Links for the tag <b><%= msgArray[2] %></b> are listed in the table.</div>
        
<% } %>
<% if(msgArray[0] == 'searchPartial') { %> 
    <div class="alert alert-info" role="alert">A-Link <b><%= msgArray[2] %></b> does not exists. Below a-links/urls have the search string.</div>
        
<% } %>
<% if(message == 'url_exists') { %> 
    <div class="alert alert-danger" role="alert">The <b>URL</b> you want to add already exists.</div>
        
<% } %>
<% if(msgArray[0] == 'alink_exists') { %> 
    <div class="alert alert-danger" role="alert">A-Link <b><%= msgArray[2] %></b> you want to add already exists.</div>
        
<% } %>
<% if(message == 'invalid_url') { %> 
    <div class="alert alert-danger" role="alert">Please enter a valid <b>URL</b>.</div>
        
<% } %>
<% if(msgArray[0] == 'alink_added') { %> 
    <div class="alert alert-success" role="alert">A-Link <b><%= msgArray[2] %></b> is successfully added.</div>
        
<% } %>
<% if(msgArray[0] == "alink_updated") { %> 
    <div class="alert alert-success" role="alert">A-Link <b><%= msgArray[2] %></b> is successfully updated.</div>
        
<% } %>
<% if(msgArray[0] == 'alink_deleted') { %> 
    <div class="alert alert-success" role="alert">A-Link <b><%= msgArray[2] %></b> is successfully deleted.</div>
        
<% } %>
<% if(msgArray[0] == 'no_tag') { %> 
    <div class="alert alert-info" role="alert">There are no A-Links with the tag <b><%= msgArray[2] %></b>.</div>
        
<% } %>
<% if(message == 'no_author') { %> 
    <div class="alert alert-info" role="alert">There are no A-Links associated with the Creator.</div>
        
<% } %>
<% if(message == 'needs_tag') { %> 
    <div class="alert alert-danger" role="alert">A <b>Tag</b> must be selected.</div>
        
<% } %>